* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", sans-serif;
}



.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: url(/imgs/menuBg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#settingsView {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: url(/imgs/menuBg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    display: flex;
    color: #E86850;
    width: 80vw;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
}

.title h1 {
    display: flex;
    align-self: center;
    font-size: 6rem;
    text-align: center;
    margin: 10px;
    color: #E86850;
}

.title h2 {
    display: flex;
    align-self: center;
    font-size: 6rem;
    text-align: center;
    margin: 10px;
    color: #E86850;
}

.menuControls {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
    font-size: 2em;
}

.settingsControls {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.settingsControls > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.settingsControls button {
    padding: 10px;
    font-size: 1em;
    border-radius: 10px;
    color: #587498;
}

.settingsControls button:hover {
    background-color: #587498;
    color: white;
}

.menuControls button {
    padding: 10px;
    font-size: 1em;
    border-radius: 10px;
    color: #587498;
}

.menuControls button:hover {
    background-color: #587498;
    color: white;
}

.pauseMenu {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
    font-size: 2em;
}

.pauseMenu button {
    padding: 10px;
    font-size: 1em;
    border-radius: 10px;
    color: #587498;
}

.pauseMenu button:hover {
    background-color: #587498;
    color: white;
}